<!doctype html>
<html data-code="<%= @code %>" data-answer="<%= @answer %>" data-showanswer="false" style="background-color: #f5f5f5; min-height: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>e-learning教材</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="try try_index">

  <nav class='navbar navbar-default opal-nav' role='navigation'>
  <div class='container'>
  </div>
</nav>

  <script>$('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent().addClass('active')</script>

  <div class="container">
<script>Opal.load('try_opal');</script>

<div class="page-header"><h1>演習問題</h1></div>

<div class="row" id="wrapper">
  <div id="editor_wrapper" class="col-md-6">
    <a href="#" id="run_code" class="btn btn-primary">コードを実行</a>
    <a href="#" id="answer" class="btn btn-primary">答えを見る</a>
    <p></p>
    <div id="editor" class="well" style="padding:0"></div>
  </div>
  <div class="col-md-6">
    <a href="#" class="btn disabled">Output</a>
    <p></p>
    <div id="output" class="well" style="padding:0">
    </div>
  </div>
</div>

<div class="page-header"><h2><a href="/educational/object_input">←スライドに戻る</a></h2></div>
<div class="page-header"><h2><a href="/educational/if_input">2章.if文に進む→</a></h2></div>

<p></p>
<div id="viewer" class="well hide" style="padding:0">
</div>
<!-- output -->
<div class="row" id="wrapper">
  <div class="col-md-12">
  </div>
</div>


  </div>


<footer>
</footer>


  <script>
    $('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent('li').addClass('active')
    $('#answer').click(function(){
      document.querySelector("html").dataset.showanswer = "true"
      document.getElementById('run_code').click();
      document.querySelector("html").dataset.showanswer = "false"
    });

  </script>
</body>
</html>
